{% extends "layouts/base.html" %} {% block title %} Victor Chukwuemeka | Portfolio
{% endblock %} {% block content %}

  <main class="main">

    <!-- Page Title -->
    <div class="page-title dark-background">
      <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">Service Details</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="index.html">Home</a></li>
            <li class="current">Service Details</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    <!-- Service Details Section -->
    <section id="service-details" class="service-details section">

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="services-list">
              <a href="/service-page?key=service1" {% if service.title == "Software Development"%}class="active"{% endif %}>Software Devlopment</a>
              <a href="/service-page?key=service2" {% if service.title == "Frontend Design"%}class="active"{% endif %}>Frontend Design</a>
              <a href="/service-page?key=service3" {% if service.title == "Authentication Systems"%}class="active"{% endif %}>Authentication Systems</a>
              <a href="/service-page?key=service4" {% if service.title == "Dashboard & Admin Panels"%}class="active"{% endif %}>Dashboard & Admin Panels</a>
              <a href="/service-page?key=service5" {% if service.title == "Payment Integration"%}class="active"{% endif %}>Payment Integration</a>
              <a href="/service-page?key=service6" {% if service.title == "Mentorship & Training"%}class="active"{% endif %}>Mentorship & Training</a>
            </div>

           <!--<h4>Enim qui eos rerum in delectus</h4>
            <p>Nam voluptatem quasi numquam quas fugiat ex temporibus quo est. Quia aut quam quod facere ut non occaecati ut aut. Nesciunt mollitia illum tempore corrupti sed eum reiciendis. Maxime modi rerum.</p>-->
          </div>

          <div class="col-lg-8" data-aos="fade-up" data-aos-delay="200">
            <img src="assets/img/services.jpg" alt="" class="img-fluid services-img">
            <h3>{{ service.heading }}</h3>
            <p>
              {{ service.description }}
            </p>
            <ul>
              {% for highlight in service.highlights %}
              <li><i class="bi bi-check-circle"></i> <span>{{ highlight }}</span></li>
              {% endfor %}
            </ul>
            <!--<p>
              Est reprehenderit voluptatem necessitatibus asperiores neque sed ea illo. Deleniti quam sequi optio iste veniam repellat odit. Aut pariatur itaque nesciunt fuga.
            </p>-->
          </div>

        </div>

      </div>

    </section><!-- /Service Details Section -->

  </main>
{% endblock %}
