<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Victor Chukwuemeka | Full-stack Developer, Software Engineer & Instructor </title>
  <meta content="Official portfolio of Victor Chukwuemeka — a full-stack developer, web & mobile instructor, and Software Enginner. Explore projects, tutorials, and creative works." name="description">
  <meta name="author" content="Victor Chukwuemeka" />
  <meta name="robots" content="index, follow" />
  <meta name="keywords" content="Victor Chukwuemeka, Web Developer Nigeria, Firebase, Express.js, Flask, Tech Instructor, Flutter, C, C++, Project Manager, Full-Stack Developer" />

  <!-- Canonical URL -->
  <link rel="canonical" href="https://yourdomain.com/" />

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://yourdomain.com/" />
  <meta property="og:title" content="Victor Chukwuemeka | Full-Stack Developer & Software Engineer" />
  <meta property="og:description" content="A portfolio that blends code, creativity, and culture." />
  <meta property="og:image" content="https://yourdomain.com/images/og-image.jpg" />

  <!-- Twitter -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:url" content="https://yourdomain.com/" />
  <meta name="twitter:title" content="Victor Chukwuemeka | Developer & Lyricist" />
  <meta name="twitter:description" content="Explore the portfolio of Victor Chukwuemeka – full-satck developer, instructor, and Software." />
  <meta name="twitter:image" content="https://yourdomain.com/images/twitter-image.jpg" />

  <!-- Favicons -->
  <link href="{{ url_for('views.static', filename='images/favicon.png') }}" rel="icon">
  <link href="{{ url_for('views.static', filename='images/apple-touch-icon.png') }}" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{ url_for('static', filename='/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('views.static', filename='vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
  <link href="{{ url_for('views.static', filename='vendor/aos/aos.css') }}" rel="stylesheet">
  <link href="{{ url_for('views.static', filename='vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('views.static', filename='vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="{{ url_for('views.static', filename='css/main.css') }}" rel="stylesheet">
</head>

<body class="{% if navRoute == 'home' %}index-page{% elif navRoute == 'service' %}service-details-page{% endif %}">

  <header id="header" class="header dark-background d-flex flex-column">
    <i class="header-toggle d-xl-none bi bi-list"></i>

    <div class="profile-img">
      <img src="{{ url_for('views.static', filename='images/my-profile-img.jfif') }}" alt="profile-img" class="img-fluid rounded-circle">
    </div>

    <a href="index.html" class="logo d-flex align-items-center justify-content-center">
      <!-- Uncomment the line below if you also wish to use an image logo -->
      <!-- <img src="assets/img/logo.png" alt=""> -->
      <h1 class="sitename">Victor Chukwuemka</h1>
    </a>

    <div class="social-links text-center">
      <a href="https://x.com/KruzVickky" class="twitter"><i class="bi bi-twitter-x"></i></a>
      <a href="https://www.facebook.com/victor.onwuegbuchulem.7/" class="facebook"><i class="bi bi-facebook"></i></a>
      <a href="https://www.instagram.com/onwuegbuchulem_victor/" class="instagram"><i class="bi bi-instagram"></i></a>
      <a href="https://github.com/vickkykruz" class="google-plus"><i class="bi bi-github"></i></a>
      <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
    </div>

    <nav id="navmenu" class="navmenu">
      <ul>
        <li><a href="#hero" class="active"><i class="bi bi-house navicon"></i>Home</a></li>
        <li><a href="#about"><i class="bi bi-person navicon"></i> About</a></li>
        <li><a href="#resume"><i class="bi bi-file-earmark-text navicon"></i> Resume</a></li>
        <li><a href="#portfolio"><i class="bi bi-images navicon"></i> Portfolio</a></li>
        <li><a href="#services"><i class="bi bi-hdd-stack navicon"></i> Services</a></li>
        <!--<li class="dropdown"><a href="#"><i class="bi bi-menu-button navicon"></i> <span>Dropdown</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
          <ul>
            <li><a href="#">Dropdown 1</a></li>
            <li><a href="#">Dropdown 2</a></li>
            <li><a href="#">Dropdown 3</a></li>
            <li><a href="#">Dropdown 4</a></li>
          </ul>
        </li>-->
        <li><a href="#contact"><i class="bi bi-envelope navicon"></i> Contact</a></li>
      </ul>
    </nav>

  </header>

  {% block content %} {% endblock %}  

  <footer id="footer" class="footer position-relative light-background">

    <div class="container">
      <div class="copyright text-center ">
        <p>© <span>Copyright</span> <strong class="px-1 sitename">VickkyKruz Programming</strong> <span>All Rights Reserved</span></p>
      </div>
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{{ url_for('views.static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <!--<script src="{{ url_for('views.static', filename='vendor/php-email-form/validate.js') }}"></script>-->
  <script src="{{ url_for('views.static', filename='vendor/aos/aos.js') }}"></script>
  <script src="{{ url_for('views.static', filename='vendor/typed.js/typed.umd.js') }}"></script>
  <script src="{{ url_for('views.static', filename='vendor/purecounter/purecounter_vanilla.js') }}"></script>
  <script src="{{ url_for('views.static', filename='vendor/waypoints/noframework.waypoints.js') }}"></script>
  <script src="{{ url_for('views.static', filename='vendor/glightbox/js/glightbox.min.js') }}"></script>
  <script src="{{ url_for('views.static', filename='vendor/imagesloaded/imagesloaded.pkgd.min.js') }}"></script>
  <script src="{{ url_for('views.static', filename='vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
  <script src="{{ url_for('views.static', filename='vendor/swiper/swiper-bundle.min.js') }}"></script>

  <!-- Main JS File -->
  <script src="{{ url_for('views.static', filename='js/main.js') }}"></script>
  {% if navRoute == 'home' %}
  <script src="{{ url_for('views.static', filename='js/contact.js') }}"></script>
  {% endif %}

</body>

</html>
